.payment {
    border: 2px solid black;
    height: 882px;
    width: 430px;
    display: flex;
    justify-content: center;
    padding: 30px 0px 25px;
    background-color: white;
    height: 420px;
    width: 920px;
    background-image: url(/SECOND/4.jpg);
    background-size: cover;
}




.text {
    display: flex;
    margin-top: 70px;
    margin-right: 30px;
    margin-left: 50px;
}